<!DOCTYPE html>
<html lang="fin">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sanakorjaus_app</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .custom-bg-color {
        background-color: rgb(215, 164, 243);
      }

      .form-label {
        font-size: 20px;
      }
    </style>

    
    
  </head>
  <body class="custom-bg-color">

    <div class="container mb-4">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="mt-5">Tekstin korjausohjelma</h1>
        </div>
      </div>
    </div>

      <div class="row justify-content-center">
        <div class="col-md-3 text-center">
          <form action="/fix_text" method="post">
            <div class="mb-3">
              <label for="input1" class="form-label">Korjattava teksti:</label>
              <textarea id="input1" name="input1" class="form-control" rows="8">
{{ input_text }}</textarea
              >
            </div>
            <div class="mb-3">
              <label for="input2" class="form-label">Korjattu teksti:</label>
              <textarea
                id="input2"
                name="input2"
                class="form-control"
                rows="8"
                readonly
              >
{{ corrected_text }}</textarea
              >
            </div>
            <div class="d-grid gap-2">
              <input type="submit" class="btn btn-primary btn-lg" value="Korjaa" />
              <button
                type="button"
                class="btn btn-secondary btn-lg"
                onclick="document.getElementById('input2').value = ''"
              >
                Tyhjennä
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
